.navbar-brand {
    padding-left: 55px;
    background-image: url("../images/logo.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 5px;
}
.navbar-brand:hover {
    background-image: url("../images/logo_focus.png");
}
#carousel{
    margin-bottom: 20px;
}
#carousel img{
    height: 300px;
    width: 100%;
}
.container[role=main]{
    padding-top:70px;
}

.slide-image {
    width: 100%;
}
.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}
.thumbnail {
    padding: 5px;
}
.thumbnail img{
    max-height:100px;
    width: auto;
}
.thumbnail .caption {
    height: 100px;
    overflow: hidden;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
.thumbnail_big {
    padding: 5px;
}
.thumbnail_big img{
    max-height:300px;
    width: auto;
}
.thumbnail_big .caption-full {
    padding: 9px;
    color: #333;
}
.thumbnail_big .caption_big{
    padding: 9px;
    color: #333;
}


#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,1);
}
#login-dp .help-block {
    font-size:12px
}
#login-dp .bottom {
    background-color:rgba(255,255,255,1);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
input[type="file"] {
    display: block;
}

.dropdown-menu-div{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

footer {
    margin-top:10px;
    width: 100%;
    height: 50px;
    background-color: #333;
    padding-top: 15px;
    text-align: center;
    color: #9d9d9d;
}
.spacer{
    margin-bottom: 40px;
}
.spacer-form{
    margin-bottom: 100px;
}

.timeline-Viewport{
    height: 500px !important;
}
.timeline-Widget{
    width: 600px !important;
    height: 550px !important;
}
.mail{
    margin-bottom: 20px;
}
.mail tr{
    line-height: 25px;
    min-height: 25px;
    height: 30px;
}

